{% extends 'blank_layout.html' %}
{% load static %}

{% block content %}

{% for movie_obj in recent_movies %}
<p>{{ movie_obj.title }}</p>

{% endfor %}
    <h1>MOVIES LIST {{ visits }} times visited </h1>
    <table>
        <tr>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>YEAR</th>
        </tr>

    {% for movie_obj in movies %}
    <tr>
    <td>
        {% if movie_obj.poster %}
        <img src="{{movie_obj.poster.url}}" alt="" style="width: 40px;"></img>
        {% endif %}
    </td>    
    <td><h1>Title :{{movie_obj.title | upper}}</h1></td>
    <td><h2>Summary :{{movie_obj.description | default:'no data available'}}</h2></td>
    <td><h3>Year :{{movie_obj.year}}</h3></td>
    <td><h3><a href="{% url 'edit' movie_obj.id %}">Edit</a>/<a href="{% url 'delete' movie_obj.id %}">Delete</a></h3></td>
    
    </tr>
    {% endfor %}
    </table>
{% endblock content %}

